body {
   margin: 0 auto;
   text-align: Center;
   width: 50%;
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
      "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

li {
   list-style: none;
}

img {
   width: 200px;
   height: 300px;
}

.name {
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}
